.container{
    display: flex;
    height: 90vh;
    padding-top: 30px;
}

.part-1{
    align-self: flex-end;
}

.part-2{
    width: 40%;
    height: 90vh;
}
.part-2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 514.2px;
    color: #fff;
    background: #202020;
    padding: 1.5rem;
    margin-bottom: 119px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    background: #fff;
    border-radius: 35px;
    color: #000;
    height: 80px;
    width: 80px;
    font-size: 2rem;
}

.header-theme h1{
    font-size: 3rem;
    margin: 0;
}

.header-theme h3{
    color: #6f6f6f;
    font-size: 1.5rem;
    margin: 0;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 514.2px;
    color: #fff;
    background: #404040;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.box .container-box{
    width: 300px;
}

.box .chevron-right{
    height: 50px;
}

.box .chevron-right i{
    font-size: 3rem;
}
.container-box h2{
    font-size: 2rem;
    font-weight: normal;
}
.container-box h2, .container-box p{
    margin: 0;
}